.DS_Store
scripts/.DS_Store
.ipynb_checkpoints/FigureA-checkpoint.ipynb
scripts/grympydata/~$grmdata.xlsx
scripts/.DS_Store
scripts/.DS_Store
scripts/.DS_Store
.ipynb_checkpoints/Untitled-checkpoint.ipynb
*.ai
