.DS_Store
scripts/.DS_Store
.ipynb_checkpoints/FigureA-checkpoint.ipynb
scripts/grympydata/~$grmdata.xlsx
scripts/.DS_Store
scripts/.DS_Store
scripts/.DS_Store
.ipynb_checkpoints/Untitled-checkpoint.ipynb
*.ai
*.mat
lh_spin_test__output.csv
lhx_spin_test__output.csv
rh_spin_test__output.csv
rhx_spin_test__output.csv
